body{
	background: #383838;
	color: #fff;
}

.gpOCWp{
	background: rgb(0 25 65);
}

.bSOXFi{
	background: #444;
	color: #fff;
	border: none;
}

.heZpEq{
	color: #444;
}

.ewclse a{
	color: #fff;
}

.hvPJcE{
	background: #444;
	border: none;
	color: #fff;
}

.fZKdbB,
.jfbiKB,
.PoFFS,
.kYoDgT,
.jvSYbN,
.icZeUR,
.ipriNz,
.ieUEnu,
.hobKoB,
.ineIEo{
	color: #fff;
}

@media only screen and (max-width: 767px) {
	.hDDUHY,
	.hvZMYO{
		padding: 0 20px;
	}

	.cQfZbq{
		background: #444;
		border: none;
		color: #fff;
	}

	.cPIJns,
	.fUfNPB{
		color: #fff;
	}

	.jgZDZf{
		background: #383838;
	}

	.iOsmdn{
		background: #444;
	}

	.gguYGS{
		background: #444;
		margin-bottom: 20px;
	}
}